@import "variables";
@import "mixins";
@import "header";
@import "contenedores";
@import "footer";
@import "responsive";



/*INICIO-PORTADA*/

.portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    background: $gradiente-general;  
}
    
.centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $azul-general; }
    
//GALERÍA 

.galeria{
    box-shadow: $sombra-general;
 }


 //EXTEND

 .boton {
    display: inline-block;
    width:90px;
    background-color:#1f3144;
    text-align:center;
    color:white;
    border:1px transparent black;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    text-decoration: none
}
 .boton--serv{
    @extend .boton;
    width:290px;
    margin-top: 10px;
}

.boton--cerrar{
    @extend .boton;
    border:1px solid orange;

}

//MAP

$redes: (
	twitter: #51b0f857,
	facebook: #2956a3,
	instagram:  #f8cc51,
);

@each $red, $color in $redes {
    .red--#{$red} {
        background: $color;
        &:hover {
            background: #51f8e2;
            .red__nombre {
                color: $color;
            }
        }
    }
}
    